<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
  </head>

  <body>
    <div>
      {% if user.is_authenticated %}
        <p> О, ты снова тут - {{ user.username }}</p>
        <a href="/logout">logout</a>
      {% else %}
        <a href="/register">register</a>
        <a href="/accounts/login">login</a>
      {% endif %}
      {% block content %}

      {% endblock %}
    </div>
    <footer>

    </footer>
  </body>

</html>
