<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    Hello darkness, my friend!
    {% for note in notes %}
        <p>заголовок - {{ note.title }}</p>
        <p>тело - {{ note.body }}</p>
        <p>тег -
        {% for tag in note.tags.all %}
         {{ tag.name_tag }},
        {% endfor %}
        </p>

        <p> категория- {{ note.category.name_category }}</p>
        <p>автор - {{ note.created_by.username }}</p>
        <p>дата создания - {{ note.data_of_create }}</p>
    _____________________________________________
    {% endfor %}
</div>
</body>
</html>